.font-poppins{
    
        font-family: "Poppins", sans-serif;
        
        color: #3E3E3E;

}
@media only screen and (max-width: 576px) {
    .img-transform{
        transform: translate(-30%);
    }
    
}
.card-text-bg{
    color: #848199;
}
.card-title-bg{
    font-family: "Roboto", sans-serif;
    color: #231D4F;

}
.button-font{
    font-family: "Roboto", sans-serif;
}

.client-img-size{
    width: 100px;
    height: 100px;
}