.font-poppins{
    
        font-family: "Poppins", sans-serif;
        
        color: #3E3E3E;

}
@media only screen and (max-width: 576px) {
    .img-transform{
        transform: translate(-30%);
    }
    
}
